* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier New; 
}
model-viewer{
    position: absolute;
    width: 50%;
    height: 400px;
    margin: 0;
    top: 25%;
    left: 50%;
    background-color: #000000;
}
.logo{
    background-color: #424242;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #007854;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 7%;
}

h3{
    font-size: 46px;
    font-weight: lighter;
    line-height: 35px;
    color: #2ECC40;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 7%;
}

h4{
    font-size: 30px;
    line-height: 35px;
    font-weight: lighter;
    color: #F98EAA;
    margin: 0;
    position: absolute;
    top:50%;
    left: 5%;
}

body {
    margin: 0;
    width: 100%;
    background-color: #000000;
    min-height: 100vh ;
}


/* Header Navbar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #111010;
    box-shadow: 0 5px 15px #333333;

}

#navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #50b450;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #F62E70;
}

#navbar li a.active {
    color: #F98EAA;
}

#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #5a5858;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#main {
    width: 100%;
    height: 80%;
}

footer {
    position: fixed;
    width: 100%;
    background:#100c08;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon , footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu li{
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;


}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;

}
footer .menu li a:hover{
    opacity: 1;
    color: #F98EAA;
}
.sticky_footer{
    position: sticky;
    top: 100%;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.line-1{
    position: absolute;
    top: 50%;  
    left: 0%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}