<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/about.css">
    <title>Magdalena Oreshkova</title>
</head>
<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <section id="header">
        <a href ="#"><img src="../img/def_real_logo.png" class="logo" alt="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">home()</a></li>
                <li><a class="active" href="about.html">about()</a></li>
                <li><a href="../assets/explore.html">explore()</a></li>
                <li><a href="contact.html">contact()</a></li>
            </ul>
        </div>
    </section>

    <section class="photo">
        <div class="pictureofme">
            <img id="pic" src="../img/pic.jpg">
        </div>
    </section>

    <section class = "one">
        <div class="container">
            <div class="hero">
                <p>~ Hi, I'm Magdalena Oreshkova<br>
                    A college student @FEEIT Skopje, Linux enthusiast, always eager to learn more.<br>
                    <br>
                    *Education:
                    <br>
                     ** Gymnasium "Dobri Daskalov" Kavadarci  (mathematical field) => (2016-2020) 
                     <br>
                     ** @FEEIT Skopje (Telecommunications) => (2020 - ...)
                     <br>
                     <br>
                     *Hobbies: Chess, Gaming, Painting 
                     <br>
                     <br>
                     *Interests: Math, Quantum Computing, Cinema, Literature
                     <br>


                    
                </p>
            </div>
        </div>
    </section>

    <section class="favourites">
        <div class="favs">
            <img src="../img/iccy.png" class="fav" >
        </div>
        <div class="text">
            <p>Favourites: </p>
        </div>
        <div class="movies">
            <img src="../img/popcorn.png" class="movies" >
        </div>
        <div class="fav_movies">
            <p>Movies and TVshows: Fight Club, The Matrix, Spirited Away, Neon Genesis Evangelion <br>
            Serial Experiments Lain, Star Wars, Game Of Thrones, House of the Dragon, Lord of The Rings</p>
        </div>
        <div class="games">
            <img src="../img/528111.png" class="games">
        </div>
        <div class="fav_games">
            <p> Games: Undertale, Overwatch, South Park-The Stick Of Truth, Little Nightmares I and II</p>
        </div>
        <div class="music">
            <img src="../img/iconmusic4.png">
        </div>
        <div class="fav_music">
            <p>Music: Nirvana, Megadeth, Tool, Grimes, Iron Maiden, Tchaikovsky</p>
        </div>
        <div class="books">
            <img src="../img/book.png">
        </div>
        <div class="fav_books">
            <p>Books: 1984(George Orwell), Crime and Punishment (Fyodor Illych Dostoevsky), Animal Farm(George Orwell)</p>
        </divclass>

    </section>

    <footer class="sticky_footer">

        <section class="footer">
            <ul class="social_icon">
                <li><a href="https://www.instagram.com/oreskovam/"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="https://github.com/schrodingerisdead"><ion-icon name="logo-github"></ion-icon></a></li>
            </ul>
            <ul class="menu">
                <li><a href="../components/index.html">home</a></li>
                <li><a href="../components/about.html">about</a></li>
                <li><a href="../assets/explore.html">explore</a></li>
                <li><a href="../components/contact.html">contact</a></li>
            </ul>
            <p>Ⓒ2022 Magdalena Oreshkova | All Rights Reserved</p>
        </section>
        
    </footer>

</body>
</html>